@use "../../variables" as *;

.counter{
 height: 50px;


&__buttons {
    display: flex;
    justify-content: space-around;
} 

&--down, &--up {
    border: 2px solid $color-secondary;
	border-radius: 90%;
    font-size: 1rem;
    padding: 10px 15px;
	background-color: $color-secondary;
	color: $color-five;

}

}