@use "../../variables" as *;

.card {
    width: 99px;
}

.card-content {
    border: 2px solid $color-primary;
    height: 280px;
    border-radius: 2%;
    text-align: center;
}

h2 {
    font-variant: small-caps;
    font-size: 1.1rem;
}

h3 {
    font-size: 1rem;
}

     