@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-primary: rgb(237, 237, 237); 
    $color-secondary: rgb(190, 157, 205);
    $color-tertiary: rgb(132, 132, 132);
    $color-four: rgb(204, 204, 204);
    $color-five: rgb(69, 69, 69);
