@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

    $font-body: 'Outfit', sans-serif;
    $color-primary: rgb(237, 237, 237); 
    $color-secondary: rgb(231, 186, 200);
    $color-tertiary: rgb(132, 132, 132);
    $color-four: rgb(147, 147, 147);
    $color-five: rgb(17, 17, 17);
