@use "./variables" as *;
* {
    background-color: $color-tertiary;
}

.tracker-content {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, auto);
    width: 100vw;
}

h1 {
    color: $color-primary;
    text-align: center;
    text-decoration: underline 10px $color-secondary;
    font-size: 3rem;
}

